Repository stellar/java-stellar-anchor-sdk, pull requests merged in 2022-02, with the labels that each got.

#50 platform: Configuration management MVP
  config-spring-property/build.gradle.kts
  config-spring-property/src/main/java/org/stellar/anchor/server/config/PropertyAppConfig.java
  config-spring-property/src/main/java/org/stellar/anchor/server/config/PropertySep10Config.java
  config-spring-property/src/main/java/org/stellar/anchor/server/config/PropertySep1Config.java
  config-spring-property/src/main/java/org/stellar/anchor/server/config/PropertySep24Config.java
  config-spring-property/src/main/java/org/stellar/anchor/server/config/payment/PropertyCirclePaymentConfig.java
  config-spring-property/src/main/java/org/stellar/anchor/server/config/payment/PropertyStellarPaymentConfig.java
  core/src/main/java/org/stellar/anchor/config/AppConfig.java
  core/src/main/java/org/stellar/anchor/horizon/Horizon.java
  core/src/main/java/org/stellar/anchor/paymentservice/Account.java
  core/src/main/java/org/stellar/anchor/paymentservice/DepositInstructions.java
  core/src/main/java/org/stellar/anchor/paymentservice/DepositRequirements.java
  core/src/main/java/org/stellar/anchor/paymentservice/PaymentGateway.java
  core/src/main/java/org/stellar/anchor/paymentservice/PaymentNetwork.java
  core/src/main/java/org/stellar/anchor/paymentservice/PaymentService.java
  core/src/main/java/org/stellar/anchor/sep10/Sep10Service.java
  core/src/main/java/org/stellar/anchor/util/PrefixedProperties.java
  core/src/main/java/org/stellar/anchor/util/StellarNetworkHelper.java
  core/src/test/kotlin/org/stellar/anchor/horizon/HorizonTest.kt
  core/src/test/kotlin/org/stellar/anchor/paymentservice/AccountCapabilitiesTest.kt
  core/src/test/kotlin/org/stellar/anchor/sep10/Sep10ServiceTest.kt
  core/src/test/kotlin/org/stellar/anchor/sep24/Sep24ServiceTest.kt
  docs/anchor-platform.md
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/CirclePaymentService.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/config/CirclePaymentConfig.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/config/StellarPaymentConfig.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CircleBalance.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CirclePayout.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CircleTransactionParty.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CircleTransfer.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CircleWallet.java
  payment-circle/src/test/kotlin/org/stellar/anchor/paymentservice/circle/CirclePaymentServiceTest.kt
  platform/build.gradle.kts
  platform/example.anchor-config.yaml
  platform/src/main/java/org/stellar/anchor/server/AnchorPlatformApplication.java
  platform/src/main/java/org/stellar/anchor/server/AnchorPlatformApplicationMVC.java
  platform/src/main/java/org/stellar/anchor/server/PaymentConfiguration.java
  platform/src/main/java/org/stellar/anchor/server/SepConfiguration.java
  platform/src/main/java/org/stellar/anchor/server/configurator/AbstractConfigurator.java
  platform/src/main/java/org/stellar/anchor/server/configurator/DataAccessConfigurator.java
  platform/src/main/java/org/stellar/anchor/server/configurator/PlatformAppConfigurator.java
  platform/src/main/java/org/stellar/anchor/server/configurator/PropertiesReader.java
  platform/src/main/java/org/stellar/anchor/server/configurator/SpringFrameworkConfigurator.java
  platform/src/main/java/org/stellar/anchor/server/controller/PaymentGatewayController.java
  platform/src/main/resources/application-wks.properties
  platform/src/main/resources/application.properties
  platform/src/main/resources/default-config.yaml
  settings.gradle.kts
Labels: anchor platform mvp

#51 payment-circle: Externalize circlepaymentservice data
  core/src/main/java/org/stellar/anchor/paymentservice/PaymentGateway.java
  payment-circle/src/test/kotlin/org/stellar/anchor/paymentservice/circle/CirclePaymentServiceTest.kt
  payment-circle/src/test/resources/mock_stellar_path_payment_response_page_body.json
  payment-circle/src/test/resources/mock_stellar_payment_response_page_body.json
  payment-circle/src/test/resources/mock_stellar_to_wallet_transfer.json
  payment-circle/src/test/resources/mock_wallet_to_stellar_transfer.json
  payment-circle/src/test/resources/mock_wallet_to_wallet_transfer.json
  payment-circle/src/test/resources/mock_wallet_to_wire_payout.json
Labels: anchor platform mvp

#57 payment-circle: implement getDepositInstructions method
  core/src/main/java/org/stellar/anchor/paymentservice/DepositInstructions.java
  core/src/main/java/org/stellar/anchor/paymentservice/DepositRequirements.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/CirclePaymentService.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/StellarReconciliation.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CircleBalance.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CircleBankWireAccount.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CircleBlockchainAddress.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CircleWallet.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/response/CircleBankWireListResponse.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/response/CircleBlockchainAddressCreateResponse.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/response/CircleBlockchainAddressListResponse.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/util/CircleAsset.java
  payment-circle/src/test/kotlin/org/stellar/anchor/paymentservice/circle/CirclePaymentServiceTest.kt
  payment-circle/src/test/kotlin/org/stellar/anchor/paymentservice/circle/model/CircleTransferSerializationTest.kt
  payment-circle/src/test/resources/mock_address.json
  payment-circle/src/test/resources/mock_get_list_of_addresses_body.json
  payment-circle/src/test/resources/mock_get_list_of_wire_accounts_body.json
Labels: anchor platform mvp, payment gateway

#84 payment-circle: use generics to avoid creating so many classes for the Circle responses
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/CirclePaymentService.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/response/CircleAccountBalancesResponse.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/response/CircleBankWireListResponse.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/response/CircleBlockchainAddressCreateResponse.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/response/CircleBlockchainAddressListResponse.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/response/CircleConfigurationResponse.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/response/CircleDetailResponse.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/response/CircleListResponse.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/response/CirclePayoutListResponse.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/response/CirclePayoutResponse.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/response/CircleTransferListResponse.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/response/CircleTransferResponse.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/response/CircleWalletResponse.java
  payment-circle/src/test/kotlin/org/stellar/anchor/paymentservice/circle/CirclePaymentServiceTest.kt
Labels: payment gateway

#65 payment-circle: add documentation for the CirclePaymentService
  docs/payment-circle.md
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/config/CirclePaymentConfig.java
Labels: anchor platform mvp, payment gateway

#86 payment-circle: fix instructions for the Wire deposit
  core/src/main/java/org/stellar/anchor/paymentservice/DepositRequirements.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/CirclePaymentService.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/config/CirclePaymentConfig.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CircleWireDepositInstructions.java
  payment-circle/src/test/kotlin/org/stellar/anchor/paymentservice/circle/CirclePaymentServiceTest.kt
  payment-circle/src/test/kotlin/org/stellar/anchor/paymentservice/circle/CircleResponseErrorHandlerTest.kt
  payment-circle/src/test/resources/mock_get_list_of_wire_accounts_body.json
  payment-circle/src/test/resources/mock_get_wire_deposit_instructions_body.json
Labels: bug, anchor platform mvp, payment gateway
