Repository stellar/java-stellar-anchor-sdk, pull requests merged in 2022-04, with the labels that each got.

#165 ci: add script to validate SEP-1 and SEP-38
  .github/workflows/build_and_test.yml
Labels: anchor platform mvp, SEP-38

#177 add wget and net-tools tempoarily for testing
  Dockerfile
Labels: anchor platform mvp, deployment

#188 platform: refactor stellar payment observer
  core/src/main/java/org/stellar/anchor/config/AppConfig.java
  core/src/main/java/org/stellar/anchor/util/Log.java
  data-spring-jdbc/src/main/java/org/stellar/anchor/server/data/PaymentStreamerCursor.java
  data-spring-jdbc/src/main/java/org/stellar/anchor/server/data/PaymentStreamerCursorRepo.java
  data-spring-jdbc/src/main/java/org/stellar/anchor/server/data/StellarAccountPageTokenRepo.java
  platform/src/main/java/org/stellar/anchor/platform/PaymentConfig.java
  platform/src/main/java/org/stellar/anchor/platform/paymentobserver/MemoryPaymentStreamerCursorStore.java
  platform/src/main/java/org/stellar/anchor/platform/paymentobserver/ObservedPayment.java
  platform/src/main/java/org/stellar/anchor/platform/paymentobserver/PageTokenStore.java
  platform/src/main/java/org/stellar/anchor/platform/paymentobserver/PaymentListener.java
  platform/src/main/java/org/stellar/anchor/platform/paymentobserver/PaymentStreamerCursorStore.java
  platform/src/main/java/org/stellar/anchor/platform/paymentobserver/StellarPayment.java
  platform/src/main/java/org/stellar/anchor/platform/paymentobserver/StellarPaymentObserver.java
  platform/src/main/java/org/stellar/anchor/platform/paymentobserver/StellarTransaction.java
  platform/src/main/java/org/stellar/anchor/platform/service/JdbcPageTokenStore.java
  platform/src/main/java/org/stellar/anchor/platform/service/JdbcPaymentStreamerCursorStore.java
  platform/src/main/java/org/stellar/anchor/platform/service/PaymentOperationToEventListener.java
  platform/src/test/kotlin/org/stellar/anchor/platform/EmptyAssetService.kt
  platform/src/test/kotlin/org/stellar/anchor/platform/PaymentConfigTest.kt
  platform/src/test/resources/test_assets.json
Labels: anchor platform mvp, technical debt

#189 all: update the `stellar-anchor-tests` CI command to also validate SEP-10, SEP-12 and SEP-31
  .github/workflows/build_and_test.yml
  anchor-reference-server/src/main/java/org/stellar/anchor/reference/controller/CustomerController.java
  anchor-reference-server/src/main/java/org/stellar/anchor/reference/controller/GlobalControllerExceptionHandler.java
  anchor-reference-server/src/main/java/org/stellar/anchor/reference/service/CustomerService.java
  core/src/main/java/org/stellar/anchor/dto/sep12/Sep12DeleteCustomerRequest.java
  core/src/main/java/org/stellar/anchor/integration/customer/CustomerIntegration.java
  core/src/main/java/org/stellar/anchor/sep10/Sep10Service.java
  core/src/main/java/org/stellar/anchor/sep12/Sep12Service.java
  core/src/main/java/org/stellar/anchor/sep31/Sep31Service.java
  docs/docker-examples/kafka/docker-compose.yaml
  platform-apis/src/main/java/org/stellar/platform/apis/callbacks/requests/DeleteCustomerRequest.java
  platform-apis/src/main/java/org/stellar/platform/apis/callbacks/responses/DeleteCustomerResponse.java
  platform/src/main/java/org/stellar/anchor/platform/callback/RestCustomerIntegration.java
  platform/src/main/java/org/stellar/anchor/platform/controller/GlobalControllerExceptionHandler.java
  platform/src/main/java/org/stellar/anchor/platform/controller/Sep10Controller.java
  platform/src/main/java/org/stellar/anchor/platform/controller/Sep12Controller.java
  platform/src/main/kotlin/org/stellar/anchor/platform/Sep12Client.kt
  platform/src/main/kotlin/org/stellar/anchor/platform/Sep12Tests.kt
  platform/src/main/resources/default-config.yaml
  platform/src/test/resources/stellar-anchor-tests-sep-config.json
Labels: bug, enhancement, anchor platform mvp

#195 core: Add inclusive and additive amount calculation in SEP-31
  config-spring-property/src/main/java/org/stellar/anchor/server/config/PropertyEventConfig.java
  config-spring-property/src/main/java/org/stellar/anchor/server/config/PropertySep31Config.java
  core/src/main/java/org/stellar/anchor/config/Sep31Config.java
  core/src/main/java/org/stellar/anchor/event/models/Amount.java
  core/src/main/java/org/stellar/anchor/event/models/Payment.java
  core/src/main/java/org/stellar/anchor/event/models/Refund.java
  core/src/main/java/org/stellar/anchor/event/models/TransactionEvent.java
  core/src/main/java/org/stellar/anchor/sep31/Sep31Helper.java
  core/src/main/java/org/stellar/anchor/sep31/Sep31Service.java
  core/src/main/java/org/stellar/anchor/util/MathHelper.java
  core/src/main/java/org/stellar/anchor/util/SepHelper.java
  core/src/test/java/org/stellar/anchor/sep31/PojoSep31Transaction.java
  core/src/test/kotlin/org/stellar/anchor/sep31/Sep31ServiceTest.kt
  core/src/test/resources/test_assets.json
  platform/example.anchor-config.yaml
  platform/src/main/java/org/stellar/anchor/platform/service/PaymentOperationToEventListener.java
  platform/src/main/java/org/stellar/anchor/platform/service/TransactionService.java
Labels: anchor platform mvp, SEP-31

#200 Stellar observer: add unit tests and fixes
  anchor-reference-server/src/main/java/org/stellar/anchor/reference/AnchorReferenceServer.java
  anchor-reference-server/src/main/java/org/stellar/anchor/reference/controller/FeeController.java
  core/src/main/java/org/stellar/anchor/sep31/Sep31Service.java
  core/src/main/java/org/stellar/anchor/sep31/Sep31TransactionStore.java
  data-spring-jdbc/src/main/java/org/stellar/anchor/server/data/JdbcSep31TransactionStore.java
  platform/src/main/java/org/stellar/anchor/platform/controller/Sep31Controller.java
  platform/src/main/java/org/stellar/anchor/platform/paymentobserver/ObservedPayment.java
  platform/src/main/java/org/stellar/anchor/platform/service/PaymentOperationToEventListener.java
  platform/src/test/kotlin/org/stellar/anchor/platform/service/PaymentOperationToEventListenerTest.kt
Labels: payment observer

#205 Start Circle payment observer
  config-spring-property/src/main/java/org/stellar/anchor/server/config/PropertyCirclePaymentObserverConfig.java
  core/src/main/java/org/stellar/anchor/config/CirclePaymentObserverConfig.java
  core/src/main/java/org/stellar/anchor/sep10/JwtService.java
  docs/docker-examples/kafka/docker-compose.yaml
  platform/build.gradle.kts
  platform/example.anchor-config.yaml
  platform/src/main/java/org/stellar/anchor/platform/ConfigManagementConfig.java
  platform/src/main/java/org/stellar/anchor/platform/PaymentConfig.java
  platform/src/main/java/org/stellar/anchor/platform/controller/CirclePaymentObserverController.java
  platform/src/main/java/org/stellar/anchor/platform/paymentobserver/CirclePaymentObserverService.java
  platform/src/main/java/org/stellar/anchor/platform/paymentobserver/ObservedPayment.java
  platform/src/main/java/org/stellar/anchor/platform/paymentobserver/Readme.md
  platform/src/main/java/org/stellar/anchor/platform/paymentobserver/circlemodels/CircleNotification.java
  platform/src/main/java/org/stellar/anchor/platform/paymentobserver/circlemodels/TransferNotificationBody.java
  platform/src/main/kotlin/org/stellar/anchor/platform/Sep10Client.kt
  platform/src/main/resources/default-config.yaml
  platform/src/test/resources/test-anchor-config.yaml
Labels: payment observer

#208 tests: make sure SEP tests are being executed in the main branch as well
  .github/workflows/build_and_test.yml
Labels: technical debt

#219 circle-payments-observer: add tests and trigger event
  anchor-reference-server/src/main/java/org/stellar/anchor/reference/controller/Sep24InteractiveController.java
  core/src/main/java/org/stellar/anchor/asset/AssetInfo.java
  core/src/main/java/org/stellar/anchor/config/CirclePaymentObserverConfig.java
  core/src/main/java/org/stellar/anchor/event/models/Customers.java
  core/src/main/java/org/stellar/anchor/event/models/StellarTransaction.java
  core/src/main/java/org/stellar/anchor/event/models/TransactionEvent.java
  core/src/main/java/org/stellar/anchor/sep31/Sep31Service.java
  core/src/main/java/org/stellar/anchor/util/Log.java
  core/src/main/java/org/stellar/anchor/util/MemoHelper.java
  integration-tests/src/test/resources/test-anchor-config.yaml
  platform/build.gradle.kts
  platform/example.anchor-config.yaml
  platform/src/main/java/org/stellar/anchor/platform/PaymentConfig.java
  platform/src/main/java/org/stellar/anchor/platform/SepConfig.java
  platform/src/main/java/org/stellar/anchor/platform/config/PropertyCirclePaymentObserverConfig.java
  platform/src/main/java/org/stellar/anchor/platform/config/PropertyKafkaConfig.java
  platform/src/main/java/org/stellar/anchor/platform/config/PropertySqsConfig.java
  platform/src/main/java/org/stellar/anchor/platform/controller/CirclePaymentObserverController.java
  platform/src/main/java/org/stellar/anchor/platform/controller/Sep24Controller.java
  platform/src/main/java/org/stellar/anchor/platform/paymentobserver/CirclePaymentObserverService.java
  platform/src/main/java/org/stellar/anchor/platform/paymentobserver/ObservedPayment.java
  platform/src/main/java/org/stellar/anchor/platform/paymentobserver/Readme.md
  platform/src/main/java/org/stellar/anchor/platform/paymentobserver/StellarPaymentObserver.java
  platform/src/main/java/org/stellar/anchor/platform/service/PaymentOperationToEventListener.java
  platform/src/main/resources/default-config.yaml
  platform/src/test/kotlin/org/stellar/anchor/platform/paymentobserver/CirclePaymentObserverServiceTest.kt
  platform/src/test/kotlin/org/stellar/anchor/platform/service/PaymentOperationToEventListenerTest.kt
  platform/src/test/resources/test-anchor-config.yaml
Labels: payment observer
