Repository stellar/java-stellar-anchor-sdk, pull requests merged in 2022-05, with the labels that each got.

#241 platform: Add comments to example.anchor-config.yaml and simplified test configuration files
  integration-tests/src/test/kotlin/org/stellar/anchor/platform/AnchorPlatformIntegrationTest.kt
  integration-tests/src/test/resources/integration-test.anchor-config.yaml
  platform/example.anchor-config.yaml
  platform/src/main/java/org/stellar/anchor/platform/AnchorPlatformServer.java
  platform/src/main/java/org/stellar/anchor/platform/configurator/PropertiesReader.java
  platform/src/main/resources/anchor-config-defaults.yaml
  platform/src/test/kotlin/org/stellar/anchor/platform/configurator/ConfiguratorTest.kt
  platform/src/test/kotlin/org/stellar/anchor/platform/configurator/SpringBootConfiguratorTest.kt
  platform/src/test/resources/application-integration-test.properties
  platform/src/test/resources/test-anchor-config.yaml
  platform/src/test/resources/test-read.yaml
Labels: anchor platform mvp

#237 core: Added simplified SEP-31 calculation
  core/src/main/java/org/stellar/anchor/sep31/Sep31Service.java
  core/src/main/java/org/stellar/anchor/util/MemoHelper.java
  core/src/test/kotlin/org/stellar/anchor/sep31/Sep31ServiceTest.kt
  platform/src/main/resources/anchor-config-defaults.yaml
Labels: anchor platform mvp, SEP-31

#251 add anchor-playtform-dev k8 manifests to docs
  docs/deployment-examples/example-k8s/anchor-platform-dev/anchor-config.yaml
  docs/deployment-examples/example-k8s/anchor-platform-dev/readme.md
  docs/deployment-examples/example-k8s/anchor-platform-dev/reference-server-config-map.yaml
  docs/deployment-examples/example-k8s/anchor-platform-dev/reference-server-deployment.yaml
  docs/deployment-examples/example-k8s/anchor-platform-dev/reference-server-ingress.yaml
  docs/deployment-examples/example-k8s/anchor-platform-dev/reference-server-service.yaml
  docs/deployment-examples/example-k8s/anchor-platform-dev/sep-server-config-map.yaml
  docs/deployment-examples/example-k8s/anchor-platform-dev/sep-server-deployment.yaml
  docs/deployment-examples/example-k8s/anchor-platform-dev/sep-server-ingress.yaml
  docs/deployment-examples/example-k8s/anchor-platform-dev/sep-server-service.yaml
  docs/deployment-examples/example-k8s/anchor-platform-dev/zookeeper-kafka-deployment.yaml
Labels: documentation

#256 core: Fix NullPointerException when the asset in the SEP-31 request not valid
  core/src/main/java/org/stellar/anchor/sep31/Sep31Service.java
  integration-tests/src/main/kotlin/org/stellar/anchor/platform/Sep31Client.kt
  integration-tests/src/test/kotlin/org/stellar/anchor/platform/Sep31Tests.kt
Labels: bug, anchor platform mvp

#261 SEP-9: add `clabe_number` to the list of SEP-9 fields
  core/src/main/java/org/stellar/anchor/sep9/Sep9Fields.java
  core/src/main/java/org/stellar/anchor/sep9/Sep9Helper.java
Labels: anchor platform mvp
