Repository stellar/java-stellar-anchor-sdk, pull requests merged in 2022-03, with the labels that each got.

#88 payment-circle: polish responses and code
  core/src/main/java/org/stellar/anchor/paymentservice/Account.java
  docs/payment-circle.md
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/CirclePaymentService.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CircleBalance.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CircleBlockchainAddress.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CircleTransactionParty.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CircleWallet.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CircleWireDepositInstructions.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/request/CircleSendTransactionRequest.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/util/CircleAsset.java
  payment-circle/src/test/kotlin/org/stellar/anchor/paymentservice/circle/CirclePaymentServiceTest.kt
Labels: anchor platform mvp, payment gateway

#94 core: move AssetService, AssetResponse and ResourceJsonAssetService to a different folder
  core/src/main/java/org/stellar/anchor/asset/AssetResponse.java
  core/src/main/java/org/stellar/anchor/asset/AssetService.java
  core/src/main/java/org/stellar/anchor/asset/ResourceJsonAssetService.java
  core/src/main/java/org/stellar/anchor/dto/sep24/InfoResponse.java
  core/src/main/java/org/stellar/anchor/sep24/Sep24Service.java
  core/src/main/java/org/stellar/anchor/sep38/Sep38Service.java
  core/src/test/kotlin/org/stellar/anchor/asset/ResourceJsonAssetServiceTest.kt
  core/src/test/kotlin/org/stellar/anchor/dto/sep24/Sep24DtoTests.kt
  core/src/test/kotlin/org/stellar/anchor/sep24/Sep24ServiceTest.kt
  platform/src/main/java/org/stellar/anchor/server/SepConfig.java
Labels: anchor platform mvp, SEP-38

#113 core: implement SEP-38 `GET /prices` endpoint
  core/src/main/java/org/stellar/anchor/dto/sep38/GetPricesResponse.java
  core/src/main/java/org/stellar/anchor/dto/sep38/InfoResponse.java
  core/src/main/java/org/stellar/anchor/sep38/Sep38Service.java
  core/src/test/kotlin/org/stellar/anchor/sep38/MockRateIntegration.kt
  core/src/test/kotlin/org/stellar/anchor/sep38/Sep38ServiceTest.kt
  payment-circle/src/test/kotlin/org/stellar/anchor/paymentservice/circle/CirclePaymentServiceTest.kt
Labels: anchor platform mvp, SEP-38

#120 core: implement SEP-38 `GET /price` endpoint
  core/src/main/java/org/stellar/anchor/dto/sep38/GetPriceResponse.java
  core/src/main/java/org/stellar/anchor/sep38/Sep38Service.java
  core/src/test/kotlin/org/stellar/anchor/sep38/Sep38ServiceTest.kt
  platform/src/main/java/org/stellar/anchor/platform/controller/Sep38Controller.java
Labels: anchor platform mvp, SEP-38

#126 docs: add information about Circle fees
  docs/payment-circle.md
Labels: payment gateway

#114 tests: Anchor integration test and test suites in Kotlin
  .github/workflows/build_and_test.yml
  CONTRIBUTING.md
  core/src/main/java/org/stellar/anchor/dto/sep12/Sep12DeleteCustomerRequest.java
  core/src/main/java/org/stellar/anchor/integration/customer/CustomerIntegration.java
  core/src/main/java/org/stellar/anchor/integration/customer/DeleteCustomerRequest.java
  core/src/main/java/org/stellar/anchor/sep12/Sep12Service.java
  core/src/main/java/org/stellar/anchor/util/Sep1Helper.java
  core/src/test/kotlin/org/stellar/anchor/dto/sep10/ChallengeRequestTest.kt
  core/src/test/resources/test_stellar.toml
  docs/CONTRIBUTING.md
  docs/anchor-platform.md
  docs/core.md
  docs/developer_tools.md
  docs/stellar_anchor_platform_coding_style.md
  payment-circle/src/test/kotlin/org/stellar/anchor/paymentservice/circle/CirclePaymentServiceTest.kt
  platform/build.gradle.kts
  platform/example.anchor-config.yaml
  platform/src/main/java/org/stellar/anchor/platform/AnchorPlatformServer.java
  platform/src/main/java/org/stellar/anchor/platform/PlatformCustomerIntegration.java
  platform/src/main/java/org/stellar/anchor/platform/configurator/PropertiesReader.java
  platform/src/main/java/org/stellar/anchor/platform/controller/Sep12Controller.java
  platform/src/main/kotlin/org/stellar/anchor/platform/Sep10Client.kt
  platform/src/main/kotlin/org/stellar/anchor/platform/Sep10Tests.kt
  platform/src/main/kotlin/org/stellar/anchor/platform/Sep12Client.kt
  platform/src/main/kotlin/org/stellar/anchor/platform/Sep12Tests.kt
  platform/src/main/kotlin/org/stellar/anchor/platform/Sep31Client.kt
  platform/src/main/kotlin/org/stellar/anchor/platform/Sep31Tests.kt
  platform/src/main/kotlin/org/stellar/anchor/platform/Sep38Client.kt
  platform/src/main/kotlin/org/stellar/anchor/platform/Sep38Tests.kt
  platform/src/main/kotlin/org/stellar/anchor/platform/SepClient.kt
  platform/src/main/kotlin/org/stellar/anchor/platform/SepTestSuite.kt
  platform/src/main/kotlin/org/stellar/anchor/platform/TestHelper.kt
  platform/src/main/resources/org/stellar/anchor/platform/SepClient.kt
  platform/src/main/resources/org/stellar/anchor/platform/sep1/test_default_stellar.toml
  platform/src/main/resources/org/stellar/anchor/platform/sep12/test_put_customer_request.json
  platform/src/test/kotlin/org/stellar/anchor/platform/AnchorPlatformIntegrationTest.kt
  platform/src/test/kotlin/org/stellar/anchor/platform/configurator/ConfiguratorTest.kt
Labels: anchor platform mvp

#125 core: SEP-38's number of decimals can now be set in the assets.json configuration file
  core/src/main/java/org/stellar/anchor/asset/AssetInfo.java
  core/src/main/java/org/stellar/anchor/dto/sep38/GetPricesResponse.java
  core/src/main/java/org/stellar/anchor/dto/sep38/InfoResponse.java
  core/src/main/java/org/stellar/anchor/sep38/Sep38Service.java
  core/src/test/kotlin/org/stellar/anchor/sep38/Sep38ServiceTest.kt
  core/src/test/resources/test_assets.json
  platform/src/main/java/org/stellar/anchor/platform/AnchorPlatformServer.java
  platform/src/main/resources/assets-prod.json
  platform/src/main/resources/assets-test.json
  platform/src/test/resources/test_assets.json
  platform/src/test/resources/test_sep38_get_info.json
Labels: anchor platform mvp, SEP-38

#147 platform: add SEP-38 tests to the SepTestSuite and AnchorPlatformIntegrationTest
  anchor-reference-server/src/main/java/org/stellar/anchor/reference/service/RateService.java
  core/src/test/resources/test_stellar.toml
  platform/example.anchor-config.yaml
  platform/src/main/java/org/stellar/anchor/platform/SepConfig.java
  platform/src/main/kotlin/org/stellar/anchor/platform/Sep12Tests.kt
  platform/src/main/kotlin/org/stellar/anchor/platform/Sep38Client.kt
  platform/src/main/kotlin/org/stellar/anchor/platform/Sep38Tests.kt
  platform/src/main/kotlin/org/stellar/anchor/platform/TestHelper.kt
  platform/src/main/resources/assets-test.json
  platform/src/main/resources/default-config.yaml
  platform/src/main/resources/org/stellar/anchor/platform/sep1/test_default_stellar.toml
  platform/src/main/resources/sep1/stellar-wks.toml
  platform/src/test/kotlin/org/stellar/anchor/platform/AnchorPlatformIntegrationTest.kt
  platform/src/test/kotlin/org/stellar/anchor/platform/configurator/ConfiguratorTest.kt
  platform/src/test/kotlin/org/stellar/anchor/platform/configurator/SpringBootConfiguratorTest.kt
  platform/src/test/resources/test-anchor-config.yaml
Labels: anchor platform mvp, SEP-38

#158 all: replace usage of `java.util.Date` and `java.time.LocalDateTime` with `java.time.Instant`
  anchor-reference-server/src/main/java/org/stellar/anchor/reference/AnchorReferenceServer.java
  anchor-reference-server/src/main/java/org/stellar/anchor/reference/controller/RateController.java
  anchor-reference-server/src/main/java/org/stellar/anchor/reference/model/Quote.java
  anchor-reference-server/src/main/java/org/stellar/anchor/reference/service/RateService.java
  anchor-reference-server/src/test/kotlin/org/stellar/anchor/server/AnchorReferenceServerIntegrationTest.kt
  core/src/main/java/org/stellar/anchor/asset/ResourceJsonAssetService.java
  core/src/main/java/org/stellar/anchor/dto/sep24/TransactionResponse.java
  core/src/main/java/org/stellar/anchor/dto/sep38/Sep38QuoteResponse.java
  core/src/main/java/org/stellar/anchor/filter/BaseTokenFilter.java
  core/src/main/java/org/stellar/anchor/integration/rate/GetRateResponse.java
  core/src/main/java/org/stellar/anchor/model/Sep38Quote.java
  core/src/main/java/org/stellar/anchor/model/Sep38QuoteBuilder.java
  core/src/main/java/org/stellar/anchor/paymentservice/Payment.java
  core/src/main/java/org/stellar/anchor/sep38/Sep38Service.java
  core/src/main/java/org/stellar/anchor/util/GsonUtils.java
  core/src/main/java/org/stellar/anchor/util/InstantConverter.java
  core/src/main/java/org/stellar/anchor/util/Log.java
  core/src/test/java/org/stellar/anchor/sep38/PojoSep38Quote.java
  core/src/test/kotlin/org/stellar/anchor/sep10/Sep10ServiceTest.kt
  core/src/test/kotlin/org/stellar/anchor/sep38/Sep38ServiceTest.kt
  data-spring-jdbc/src/main/java/org/stellar/anchor/server/data/JdbcSep38Quote.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/CircleGsonParsable.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CirclePayment.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CirclePayout.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CircleTransfer.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/model/CircleWireDepositInstructions.java
  payment-circle/src/main/java/org/stellar/anchor/paymentservice/circle/util/CircleDateFormatter.java
  payment-circle/src/test/kotlin/org/stellar/anchor/paymentservice/circle/CirclePaymentServiceTest.kt
  payment-circle/src/test/kotlin/org/stellar/anchor/paymentservice/circle/CircleResponseErrorHandlerTest.kt
  payment-circle/src/test/kotlin/org/stellar/anchor/paymentservice/circle/StellarReconciliationTest.kt
  payment-circle/src/test/kotlin/org/stellar/anchor/paymentservice/circle/model/CircleTransferSerializationTest.kt
  payment-circle/src/test/kotlin/org/stellar/anchor/paymentservice/circle/util/CircleDateFormatterTest.kt
  platform-apis/src/main/java/org/stellar/platform/apis/api/requests/GetQuotesRequest.java
  platform-apis/src/main/java/org/stellar/platform/apis/api/requests/GetTransactionsRequest.java
  platform-apis/src/main/java/org/stellar/platform/apis/api/requests/PatchTransactionsRequest.java
  platform-apis/src/main/java/org/stellar/platform/apis/callbacks/requests/GetRateRequest.java
  platform-apis/src/main/java/org/stellar/platform/apis/callbacks/responses/GetRateResponse.java
  platform-apis/src/main/java/org/stellar/platform/apis/shared/Quote.java
  platform-apis/src/main/java/org/stellar/platform/apis/shared/Refund.java
  platform-apis/src/main/java/org/stellar/platform/apis/shared/Transaction.java
  platform/example.anchor-config.yaml
  platform/src/main/java/org/stellar/anchor/platform/AnchorPlatformServer.java
  platform/src/main/java/org/stellar/anchor/platform/IntegrationConfig.java
  platform/src/main/java/org/stellar/anchor/platform/PlatformCustomerIntegration.java
  platform/src/main/java/org/stellar/anchor/platform/PlatformIntegrationHelper.java
  platform/src/main/java/org/stellar/anchor/platform/PlatformRateIntegration.java
  platform/src/main/kotlin/org/stellar/anchor/platform/Sep38Client.kt
  platform/src/main/kotlin/org/stellar/anchor/platform/Sep38Tests.kt
  platform/src/main/kotlin/org/stellar/anchor/platform/SepClient.kt
  platform/src/main/kotlin/org/stellar/anchor/platform/TestHelper.kt
  platform/src/main/resources/default-config.yaml
  platform/src/test/kotlin/org/stellar/anchor/platform/PlatformRateIntegrationTest.kt
  platform/src/test/resources/test-anchor-config.yaml
Labels: anchor platform mvp, technical debt

#159 all: Update code of `platform` and `anchor-reference-server` so the SEP-38 implementation becomes compliant with the validation tool
  core/src/main/java/org/stellar/anchor/sep38/Sep38Service.java
  core/src/test/kotlin/org/stellar/anchor/sep38/Sep38ServiceTest.kt
  platform/example.anchor-config.yaml
  platform/src/main/java/org/stellar/anchor/platform/controller/GlobalControllerExceptionHandler.java
  platform/src/main/resources/default-config.yaml
  platform/src/test/resources/test-anchor-config.yaml
  settings.gradle.kts
Labels: anchor platform mvp, SEP-38
